.sideBar{
    display:fixed; 
    width:15%; 
    top:0; 
    bottom:0;
    overflow-y: scroll;
    background-color:red;

}
.content{
    display:flex; 
    width: 100%; 
    height:100%; 
    flex-direction:column; 
    flex-wrap:wrap; 
}
.box{
    width:100%; 
    flex-grow:1; 
}